* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  height:50px;
  background-color: #ff9a4b;
}


main {
  display: flex;
  width: 960px;
  margin: 50px auto;
}

.step-box {
  width: 300px;
  background-color: #eee;
  margin-right:30px;
  padding:10px;
  position: relative;
}

.step-box:nth-child(3) {
  margin-right:0;
}

.step-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-number {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top:0;
  left:0;
  padding: 3px;
}

h3 {
  padding: 15px 0 5px 0;
}


footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width:768px) {
  main {
    display: block;
    width: 100%;
  }

  .step-box {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .step-box:nth-child(3) {
    margin-bottom:0;
  }

  .step-image1,
  .step-image2,
  .step-image3 {
    height: 150px;
  }
}